<section>
    <section st-section="banner">
        <h1>Optimus Prime</h1>
        <p>Official MatchMove Wallet Api Documentation</p>
    </section>
    <section st-section="version">
        <div st-section="miniInfo">
            <h3>Optimus Prime</h3>
            <span class="inline-block-el" vertical-align="middle">API reference </span>
            <input type="search" placeholder="Search" ng-model="searchText">
        </div>
        <ul st-section="sidebar">
            <li>
                <h3>Resource</h3>
            </li>
            <li 
                ng-repeat="api in getResource">
                <a ng-href="/{{api.href}}">
                {{api.name}}
                </a>
            </li>
            <li>
                <h3>Methods</h3>
            </li>
            <li 
                ng-repeat="api in methods">
                <a ng-href="index.html#/api/{{api.name.split('/').join('-')}}" ng-class="{ active: isActive(api.href.slice(0, -5))}">
                {{api.name}}
                </a>
            </li>
            <li>
                <h3>Validation Errors</h3>
            </li>
            <li 
                ng-repeat="api in validationerrorcodes">
                <a ng-href="index.html#/validationerrors/{{api.href}}" ng-class="{ active: isActive(api.href)}">
                {{api.name}}
                </a>
            </li>
            <li>
                <h3>Errors</h3>
            </li>
            <li 
                ng-repeat="api in errorcodes">
                <a ng-href="index.html#/error/{{api.name}}" data-content="{{api.href}}" ng-class="{ active: isActive(api.name)}">
                {{api.name}}
                </a>
            </li>
        </ul>
    </section>
    <section st-section="documentation">
        <h2 ng-model="route.selectedRoute">{{errordata.name}}</h2>
        <section st-section="content">
            <div st-section="subSection" data-model="getParams">
                <div st-section="apiInfo">
                    <dl>
                        <dt>Description</dt>
                        <dd>{{errordata.description}}</dd>
                    </dl>
                    <table>
                        <tr><th>Contents</th></tr>
                        <tr>
                          <td>
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                                <tr data-ng-repeat="content in errordata.contents" id="{{content.name}}">
                                    <td>
                                        {{content.name}}
                                    </td>
                                    <td class="descTxt">
                                        <md class="contentMarkdown" ng-model="content.description">
                                        </md>
                                    </td>
                                </tr>
                            </table>
                          </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </section>
</section>
