* {
    box-sizing: border-box;
}

[st-section~="documentation"] {
    padding: 1em;
    font-weight: 300;
    b , strong {
        font-weight: 700;
    }
    h1, h2, h3 {
        font-weight: 300;
        color: #09f;
        margin: 0;
    }
    h2 {
        font-family: monospace;
    }
}

[st-section~="subSection"] {
    // margin-bottom: 1em;
    border-bottom: 1px solid rgba(20,20,20,.3);
    padding:0;
    font-size: 1.8em;
    h3 ~ p {
        margin: .25em 0 .5em;
        font-size: .5em;
    }
}
[st-section~="apiInfo"] {
    padding-bottom: 1em;
    padding-top: 1em;
    & > p {
        font-family: sans-serif;
        font-size: .7em;
        margin: 0 0 1em;
        padding-top: .25em;
        color: #666;
    }
    table {
        td {
            font-family: monospace;
        }
        td.descTxt {
            font-family: sans-serif;
            font-size: .5em;
            color: #666;
        }
        th {
            text-align: left;
            font-size: .8em;
            font-weight: 500;
            padding: .25em;
            font-family: monospace;
        }
        table {
            border: 1px solid #ddd;
            th {
                text-align: left;
                font-family: sans-serif;
                // padding: 1em;
                font-size: .5em;
                background: #f1f1f1;
                font-weight: 500;
                padding: .5em .25em;
                border-bottom: 1px solid #ddd;
            }
            td {
                font-size: .6em;
                padding: .5em .25em;
            }
        }
    }
    dl {
        font-size: .7em;
        padding-left: 1em;
        font-family: sans-serif;
        margin: 0;
        dl {
            font-weight: bold;
        }
        dd {
            font-size: .8em;
            color: #666;
        }
    }
    & > dl {
        font-size: 0.9em;
        padding: 0 0 0 1em;
        margin-bottom: 1em;
        border-left: 5px solid #09f;
        // border-bottom: 2px solid #09f;
        dd {
            margin: 0;
            padding: 0;
        }
    }
}
[st-section~="apiName"] {
    padding-top: 1em;
    h3 {
        font-family: monospace;
    }
    p {
        font-size: .8em;
        color:#666;
    }
}

@media screen and (min-width: 680px) {
    [st-section~="apiName"] {
        width: 30%;
        float: left;
    }
    [st-section~="apiInfo"] {
        width: 70%;
        float: left;
        border-left : 1px solid #ddd;
        padding-left: 1em;
    }
}


