<section>
    <section st-section="banner">
        <h1>{{Apiname}} Documentation</h1>
    </section>
    <section st-section="version">
        <div st-section="miniInfo">
            <h3>Optimus Prime</h3>
            <span class="inline-block-el" vertical-align="middle">API reference /{{api.version}}/ </span>
            <input type="search" placeholder="Search">
        </div>
        <ul st-section="sidebar">
            <li name="routeChanger" id="routeChanger" ng-model="route.selectedRoute" ng-change="go(route.selectedRoute)"
                ng-repeat="api in apis" >
                <a ng-href="index.html#/apis/{{api.href}}">
                {{api.name}}
                </a>
            </li>
        </ul>
    </section>
    <section st-section="documentation">
        <h2 ng-model="route.selectedRoute">{{api.name}}</h2>
        <section st-section="content" ng-switch="typeofpackage()">
            <div ng-switch-when="api">
                <div st-section="subSection" data-ng-repeat="method in getParams">
                    <div st-section="apiName">
                        <h3>{{method.name}}</h3>
                    </div>
                    <div st-section="apiInfo">
                        <dl>
                            <dt>Description</dt>
                            <dd>{{method.description}}</dd>
                        </dl>
                        <table ng-if="method.response">
                            <tr><th>Response</th></tr>
                            <tr>
                              <td>
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr data-ng-repeat="response in method.response">
                                        <td class="name">
                                            <p>{{response.name}}</p>
                                        </td>
                                        <td class="description {{response.type}}Type">
                                            <p>{{response.type}}</p>
                                        </td>
                                        <td class="descTxt">
                                            <p>{{response.description}}</p>
                                            <div ng-if="response.type == 'array'">
                                                <h5>Additional Info</h5>
                                                <code>
                                                    <div ng-if="response.name == 'cards'">
                                                       {{response['.date']}}
                                                       {{response['.expiry']}}
                                                       {{response['.links']}}
                                                       {{response['.rel']}}
                                                       {{response['.href']}}
                                                       {{response['.method']}}
                                                       {{response['.status']}}
                                                       {{response['.is_active']}}
                                                       {{response['.text']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'date'">
                                                       {{response['.registration']}}
                                                       {{response['.issued']}}
                                                       {{response['.created']}}
                                                       {{response['.expiry']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'funds'">
                                                       {{response['.available']}}
                                                       {{response['.currency']}}
                                                       {{response['.amount']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'holder'">
                                                       {{response['.name']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'identification'">
                                                       {{response['.type']}}
                                                       {{response['.number']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'image'">
                                                       {{response['.small']}}
                                                       {{response['.medium']}}
                                                       {{response['.large']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'links'">
                                                       {{response['.rel']}}
                                                       {{response['.href']}}
                                                       {{response['.method']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'mobile'">
                                                       {{response['.country_code']}}
                                                       {{response['.number']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'recipient'">
                                                       {{response['.type']}}
                                                       {{response['.id']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'status'">
                                                       {{response['.is_active']}}
                                                       {{response['.text']}}
                                                       --------
                                                    </div>
                                                    <div ng-if="response.name == 'type'">
                                                       {{response['.name']}}
                                                       {{response['.description']}}
                                                       --------
                                                    </div>
                                                </code>
                                                <code>
                                                {{response}}
                                                </code>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                              </td>
                            </tr>
                        </table>
                        <table ng-if="method.requests">
                            <tr><th>Request</th></tr>
                            <tr>
                              <td>
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Optional</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr data-ng-repeat="(key, value) in method.requests">
                                        <td>
                                            {{value.name}}
                                        </td>
                                        <td>
                                            {{value.type}}
                                        </td>
                                        <td>
                                            {{value.optional}}
                                        </td>
                                        <td class="descTxt">
                                            {{value.description}}
                                        </td>
                                    </tr>
                                </table>
                              </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-switch-when="errors">
                <div st-section="subSection" data-model="getParams">
<!--                     <div st-section="apiName">
                        <h2>{{data.name}}</h2>
                    </div> -->
                    <div st-section="apiInfo">
                        <dl>
                            <dt>Description</dt>
                            <dd>{{data.description}}</dd>
                        </dl>
                        <table>
                            <tr><th>Contents</th></tr>
                            <tr>
                              <td>
                                <table>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    <tr data-ng-repeat="content in data.contents">
                                        <td>
                                            {{content.name}}
                                        </td>
                                        <td class="descTxt">
                                            {{content.description}}
                                        </td>
                                    </tr>
                                </table>
                              </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-switch-when="resource">
                <div st-section="subSection" data-model="getParams">
                    <div st-section="apiInfo">
                        <md class="contentMarkdown" ng-include="'https://s3.amazonaws.com/elasticbeanstalk-us-east-1-576856514417/API-Readme.md'">
                        </md>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
