<section>
    <section st-section="banner">
        <h1>{{Apiname}} Documentation</h1>
<!--         <form>
            <input type="search" placeholder="Search documentation">
        </form> -->
    </section>
    <section st-section="version">
        <span class="inline-block-el" vertical-align="middle">API reference /{{api.version}}/ </span>
        <div class="button dropdown" vertical-align="middle">
            <select name="routeChanger" id="routeChanger" ng-model="route.selectedRoute" ng-change="go(route.selectedRoute)">
                <option  ng-repeat="api in apis | orderBy:orderProp"  value="/apis/{{api.href}}">{{api.name}}</option>
            </select>
        </div>
    </section>
    <section st-section="documentation">
        <aside ng-include="'partials/search.html'" scope="" onload=""></aside>
        <section st-section="content">
          <md>
            <h2>{{api.name}}</h2>
            <p st-typerole="subInfo">{{api.description}}</p>
            <div st-section="subSection" data-ng-repeat="method in getParams">
                <div st-section="apiName">
                    <h3>{{method.name}}</h3>
                </div>
                <div st-section="apiInfo">
                    <dl>
                        <dt>Description</dt>
                        <dd>{{method.description}}</dd>
                    </dl>
                    <table ng-if="method.response">
                        <tr>
                            <th>Response</th>
                        </tr>
                        <tr >
                          <td>
                            <table>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                                <tr data-ng-repeat="(key, value) in method.response">
                                    <td>
                                        {{value.name}}
                                    </td>
                                    <td>
                                        {{value.type}}
                                    </td>
                                    <td class="descTxt">
                                        {{value.description}}
                                    </td>
                                </tr>
                            </table>
                          </td>
                        </tr>
                    </table>
                    <table ng-if="method.requests">
                        <th>
                            <td>
                                Request
                            </td>
                        </th>
                        <tr data-ng-repeat="(key, value) in method.requests">
                          <td>
                            <dl>
                                <dl>{{key}}</dl>
                                <dd>{{value}} </dd>
                            </dl>
                          </td>
                        </tr>
                    </table>
                </div>
            </div>
          </md>
        </section>
    </section>
</section>
