<section>
    <section st-section="banner">
        <h1>{{Apiname}} Documentation</h1>
        <form>
            <input type="search" placeholder="Search documentation">
        </form>
    </section>
    <section st-section="version">
        <div class="button dropdown" vertical-align="middle">
            <select>
                <option>v1</option>
                <option>v1</option>
                <option>v1</option>
                <option>v1</option>
                <option>v1</option>
            </select>
        </div>
        <span class="inline-block-el" vertical-align="middle">/ API reference</span>
    </section>
    <section st-section="documentation">
        <aside ng-include="'partials/api-list.html'" scope="" onload=""></aside>
        <section st-section="content">
          <md>
            <h2>{{api.title}}</h2>
        # How to use angular-md
        This is a example of how to use angular-md.

        - Bullet point 1.
        - Bullet point 2.

        > To use or not to use...
        > - Anonymous
          </md>

        </section>
    </section>
</section>
