* {
    box-sizing: border-box;
    &:after,&:before{
        box-sizing: border-box;
    }
}
input[type="search"] {
    display: block;
    width: 100%;
    box-sizing:border-box;
}

[st-section~="miniInfo"] {
    padding: 1em;
}
[st-section~="sidebar"] {
    a {
        word-break:break-all;
        display: block;
        padding: .05em 1em;
        &:hover{
            background: #09f;
            color:#fff;
        }
    }
    a.active {
        background: #09f;
        color:#fff;
    }

    li {
        border-bottom: 1px solid rgba(255,255,255,.3);

    }
}
[st-section~="documentation"] {
    padding: 0;
    font-weight: 300;
    border-left: 1px solid #ddd;
    b , strong {
        font-weight: 700;
    }
    h1, h2, h3 {
        font-weight: 300;
        color: #09f;
        margin: 0;
    }
    h2 {
        font-family: monospace;
    }
    table {
        width: 100%;
    }
    & > h2 {
        font-family: sans-serif;
        font-size: 2em;
        margin:1em 1em 0;
        word-break:break-all;
    }
    @media screen and (min-width: 681px) {
        float: left;
        width: 75%;
    }
}

[st-section~="subSection"] {
    // margin-bottom: 1em;
    border-bottom: 1px solid rgba(20,20,20,.3);
    padding:0 1em;
    font-size: 1.8em;
    h3 ~ p {
        margin: .25em 0 .5em;
        font-size: .5em;
    }
}
[st-section~="apiInfo"] {
    padding-bottom: 1em;
    padding-top: 1em;
    & > p {
        font-family: sans-serif;
        font-size: .7em;
        margin: 0 0 1em;
        padding-top: .25em;
        color: #666;
    }
    table {
        box-sizing:border-box;
        td {
            font-family: monospace;
            vertical-align: top;
            font-size: .8em;
            line-height: 1.1;
            padding: 10px;
            background: #fff;
            h4 {
                // border-top: 1px solid #09f;
                margin-top: 10px;
                margin-bottom: 15px;
                font-weight: bold;
                padding-top: 1em;
            }
            h5 {
                display: block;
                font-size: 1.1em;
                font-weight: bold;
                margin-top: 10px;
            }
            // h4 ~ code {
            //     padding-left: 1em;
            //     @include clearfix;
            // }
        }
        td.descTxt {
            font-family: sans-serif;
            color: #666;
            max-width: 140px;
            word-break:break-all;
            & > p {
                display: block;
                margin-bottom: 1em;
            }

            h5 {
                margin-bottom: 10px;
                margin-top: 15px;
            }
        }
        td.name {
            font-family: sans-serif;
            p {
                padding: 5px;
            }
        }
        td.index {
            font-family: sans-serif;
            p {
                padding: 5px;
            }
        }
        th {
            text-align: left;
            font-size: .8em;
            font-weight: 500;
            padding: .25em;
            font-family: monospace;
        }
        table {
            border: 1px solid #ddd;
            th {
                text-align: left;
                font-family: sans-serif;
                // padding: 1em;
                font-size: .5em;
                background: #f1f1f1;
                font-weight: 500;
                padding: .5em .25em;
                border-bottom: 1px solid #ddd;
            }
            td {
                font-size: .6em;
                // padding: .5em .25em;
            }
        }
    }
    tbody tr:nth-child(odd) {
        td {
            background-color: #f9f9f9;
            border-top:1px solid #ddd;
            border-bottom:1px solid #ddd;
        }

    }
    dl {
        font-size: .7em;
        padding-left: 1em;
        font-family: sans-serif;
        margin: 0;
        dl {
            font-weight: bold;
        }
        dd {
            font-size: .8em;
            color: #666;
        }
    }
    & > dl {
        font-size: 0.9em;
        padding: 0 0 0 1em;
        margin-bottom: 1em;
        border-left: 5px solid #09f;
        // border-bottom: 2px solid #09f;
        dd {
            margin: 0;
            padding: 0;
        }
    }
    .arrayType {
        p {
            display: inline-block;
            background: rgb(255, 0, 252);
            color: #fff;
            padding: 5px;
            border-radius: 4px;
        }
    }
    .stringType {
        p {
            display: inline-block;
            background: orange;
            color: #fff;
            padding: 5px;
            border-radius: 4px;
        }
    }
    .floatType {
        p {
            display: inline-block;
            background: blue;
            color: #fff;
            padding: 5px;
            border-radius: 4px;
        }
    }
    .dateType {
        p {
            display: inline-block;
            background: rgb(122, 190, 185);
            color: #fff;
            padding: 5px;
            border-radius: 4px;
        }
    }
    .intType {
        p {
            display: inline-block;
            background: rgb(0, 255, 168);
            color: #fff;
            padding: 5px;
            border-radius: 4px;
        }
    }
}
.additionalInfo {
    padding-left: 1em;
    border-left: .5em solid #ddd;
    h4 {
        margin-left: -1em;
        padding-left: 1em;
        padding-bottom: 1em;
        margin-top: 0;
        padding-right: 2em;
        // background: #ddd;
    }
}
.tableInfo {
    font-size: 1.2em;
    td {
        background-color: #fff;
        background: #fff;
    }
    tr {
        td:first-of-type {
            border-right: 1px solid #ddd;
            width: 40%;
        }
    }
}

[st-section~="apiName"] {
    padding-top: 1em;
    h3 {
        font-family: monospace;
    }
    p {
        font-size: .8em;
        color:#666;
    }
}

// @media screen and (min-width: 680px) {
//     [st-section~="apiName"] {
//         width: 30%;
//         float: left;
//     }
//     [st-section~="apiInfo"] {
//         width: 70%;
//         float: left;
//         border-left : 1px solid #ddd;
//         padding-left: 1em;
//     }
// }

.tableResponse {
    tr {
        td:first-of-type {
            width: 100px;
        }
        td.description {
            width: 70px;
        }
    }
}
.contentMarkdown {
    font-size: 16px;
    // font-family: sans-serif;
    // font-size: 14px;
    // code {
    //     font-family: monospace;
    // }
    // // a {
    // //     font-size: 14px !important;
    // // }
    // ul{
    //     padding-left: 1em;
    //     list-style-type: disc;
    // }
    // ol {
    //     padding-left: 1em;
    //     list-style-type: decimal;
    //     margin-left: 10px;
    //     & > li {
    //         margin-bottom: 5px;
    //     }
    // }
    // p {
    //     font-size: 1em !important;
    //     line-height: 1.1;
    //     word-break:break-all;
    //     margin-top: 1.4em;
    // }
    // h1 {
    //     font-size: 2em;
    //     line-height: 28px;
    //     margin-bottom: 15px;
    //     font-weight: bold;
    //     font-family: sans-serif;
    // }
    // h2 {
    //     font-size: 1.8em;
    //     margin-top: 25px;
    //     margin-bottom: 10px;
    //     font-family: sans-serif;
    // }
    // h3 {
    //     font-size: 18px;
    //     line-height: 21px;
    //     margin-top: 15px;
    //     margin-bottom: 5px;
    //     font-family: sans-serif;
    // }
    // blockquote {
    //     @include clearfix;
    //     & > p{
    //         margin-top: .5em;
    //     }
    //     blockquote ~ p {
    //         margin-top: 1em;
    //     }
    // }
    // h4 {
    //     margin-top: 1em;
    //     font-size: 1.4em;
    // }
a {
  color: #4183C4; }
a.absent {
  color: #cc0000; }
a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 28px;
  color: black; }

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  color: #777777;
  font-size: 14px; }

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0; }

hr {
  background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

li p.first {
  display: inline-block; }

ul, ol {
  padding-left: 30px; }

ul :first-child, ol :first-child {
  margin-top: 0; }

ul :last-child, ol :last-child {
  margin-bottom: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

img {
  max-width: 100%; }

span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }
}
