/* tools --------------------------  */

.clear {
    clear: both;
    display: block;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.clearfix:after,
.wrap:after,
.spanning:after,
.content:after,
.main:after,
aside:after,
section:after,
article:after,
.text:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.align-left {
    float: left !important
}

.align-right {
    float: right !important
}

.overflow-hidden {
    overflow: hidden;
    display: block;
}

/* common --------------------------  */

.comments .tab-prev,
.comments .tab-next,
.button-download:after {
    background: url(../images/sprite.png) 0 0 no-repeat
}

html {
    height: 100%;
    background: white;
}

body {
    height: 100%;
    font: 16px/28px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222222;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.main {
    min-height: 100%;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    position: relative;
}

a {
    color: #10bbf1;
    cursor: pointer;
    background: transparent;
    text-decoration: none;
}

a:hover {
    color: #40c9f4
}

a:active {
    color: #0b97c3
}

.error {
    color: red !important;
    border-color: red !important;
}

.success {
    color: #00cc00 !important;
    border-color: #00cc00 !important;
}

.disabled {
    color: #999999 !important;
    border-color: #999999 !important;
    cursor: default !important;
}

.main {
    .button {
        color: white;
        background: #10bbf1;
        height: 58px;
        border: 2px solid #10bbf1;
        font: 500 22px "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 21px;
        -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .button:hover {
        background: #40c9f4;
        border-color: #40c9f4;
    }

    .button:active {
        background: #0b97c3;
        border-color: #0b97c3;
    }

    a.button {
        text-decoration: none;
        display: inline-block;
        line-height: 54px;
        color: white;
    }

    a.button:hover {
        color: white
    }

    a.button:active {
        color: white
    }

    a.button.button-stripe {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: white;
    }

    a.button.button-stripe:hover {
        color: #222222;
        background-color: white;
        border-color: white;
    }

    a.button.button-stripe:active {
        color: #222222;
        background-color: #e5e5e5;
        border-color: #e5e5e5;
    }
}




.main {
    header {
        padding: 104px 0;
        background: url(../images/header.jpg) no-repeat 50% 50%;
        font: 24px/36px "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        h1 {
            font-size: 60px;
            line-height: 60px;
            font-weight: 300;
            margin-bottom: 38px;
            text-shadow : 0 -1px 0 #ddd, 0 1px 2px #333;
            span {
                font-weight: 200;
            }
        }
    }
}



header .buttons-wrapper {
    padding-top: 53px
}

header .buttons-wrapper .button-stripe {
    margin-left: 14px
}

.header-img {
    float: right
}

.header-wrapper {
    max-width: 655px;
}

/* footer --------------------------  */

footer {
    background: #324a57;
    color: white;
    font-size: 16px;
    line-height: 28px;
    padding: 90px 0;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* home --------------------------  */

/* content --------------------------  */



.brand {
    & > img {
        max-height: 44px;
    }
}
